* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: #fdfdff;
  color: #393d3f;
}

/* when resizing, images get fucked as hell, so hardcode the width too LMAO */

.img-products {
  height: 400px !important;
  width: 400px;
}

.card.medium .card-image,
.card.large .card-image {
  max-height: 77% !important;
  
}

.card.small {
  height: 130px !important;
}

.card .card-action {
  border-top: none !important;
}

#full {
  min-height: 100vh; /* use "vh" instead of % */
}

span{
  font-size: 2.5rem;
}

p{
  font-size: 1rem;
}



@media only screen and (max-width: 1600px) {
  .card.horizontal.small .card-image img,
  .card.horizontal.medium .card-image img,
  .card.horizontal.large .card-image img {
    display: none;
    
  }
  span{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 980px) {
  .card.horizontal.small .card-image img,
  .card.horizontal.medium .card-image img,
  .card.horizontal.large .card-image img {
    display: block;
  }
  span{
    font-size: 1.5rem;
  }
}
