.padding{
  padding-top:5%  
}

body{
    background-color: #242526;
}

h1{
    color:white
}

p {
    color: #e0e0e0
}

.input-field label {
    color: #80cbc4;
  }


.input-field [type=text] {
    color: white;
}

.save-button {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    width: 10%;
    
}

.clear-button {
    margin-top: 40px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
    width: 10%;
}

.index {
    margin-top: 100px;
    margin-right: 2px;
    position:absolute;
    top:0;
    right:0;
}
