.padding{
    padding-top:5%  
  }
  
  body{
      background-color: #242526;
  }
  
  h1{
      color:white
  }
  
  p {
      color: #e0e0e0
  }
  
  .input-field label {
      color: #80cbc4;
    }
  
  
  .input-field [type=text] {
      color: white;
  }
  
  .save-button {
      margin-top: 1px;
      margin-right: 2px;
      position:absolute;
      top:0;
      right:0;
      width: 10%;
      
  }
  
  .clear-button {
      margin-top: 40px;
      margin-right: 2px;
      position:absolute;
      top:0;
      right:0;
      width: 10%;
  }
  
  .index {
      margin-top: 100px;
      margin-right: 2px;
      position:absolute;
      top:0;
      right:0;
  }

  #boxes{
      width: 100%;
      display: flex;
      align-items: center;
  }

  .box{
      
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 300px;
      height: 300px;
      border-radius: 5px;
      background:#3a3c3d;
      padding: 10px;
      
  }

  .box p span{
      color:#80cbc4;
      font-weight: bold;
      
  }

  #box-c{
    position: relative;
    left: 190px;
    justify-self: center;
    margin:auto;
  }

  #box-e{
    justify-self: flex-end;
    margin-right: 60px;
  }