.padding{
  padding-top:5%  
}

body{
    background-color: #242526;
}

h1{
    color:white
}

p {
    color: #e0e0e0
}

table {
    color: #e0e0e0;
}

.input-field label {
    color: #80cbc4;
  }


.input-field [type=text] {
    color: white;
}

test {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;

}